.nav{
    width: 200px;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #291fbd;
    overflow: hidden;
    z-index: 1; 
    top: 0; 
}
.nav-link{
    color:whitesmoke;
    text-align: start;
    align-items: flex-start;
}
.nav-link:hover{
    color: rgb(224, 130, 130); ;
}
.cal{
    display: flex;
    justify-content: space-evenly;
    position: initial;
    height: 100vh;  
}
.main-con{
    width:100%;
    display: flex;
    height: fit-content;
    object-fit: cover;
    background-color: rgb(224, 130, 130);
    color: white;
    text-align: end;
    overflow: hidden;
    justify-content: space-between;
    
}
.log{
   width:49%;
   object-fit: cover;
}
.data-con{
   margin-left: 200px;
   padding: 30px;
   text-align: start;
   color: rgb(219, 215, 215);
}
.rel{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
    font-size:larger;
}
.line{
    width: 100%;
    height: 1px;
    background-color:  rgb(219, 215, 215);;
}
.art{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.api-data{
    margin-left: 200px;
    padding: 30px;
    display: flex;
    overflow: auto;
    text-align: center;
    font-size: small;

}

.api-data::-webkit-scrollbar{
    display: none;
}